<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="App" type="Application" factoryName="Application" nameIsGenerated="true">
    <option name="MAIN_CLASS_NAME" value="com.jeff.fischman.exercise.App" />
    <module name="book-processor" />
    <option name="PROGRAM_PARAMETERS" value="-canned" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>